In [49]:
my_string = 'Hello World!.'

In [50]:
my_string

'Hello World!.'

In [51]:
my_list_v1 = []

for letter in my_string:
    my_list_v1.append(letter)

In [52]:
my_list_v1

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!', '.']

In [53]:
my_list_v2 = [letter for letter in my_string]

In [54]:
my_list_v2

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!', '.']

In [55]:
[i for i in 'just for test']

['j', 'u', 's', 't', ' ', 'f', 'o', 'r', ' ', 't', 'e', 's', 't']

In [56]:
[i for i in range(0,11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
# Number square
[i**2 for i in range(0,11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
[i for i in range(0,11) if i % 2 == 0]

[0, 2, 4, 6, 8, 10]

In [67]:
[i**2 for i in range(0,34) if i % 2 == 0]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024]

In [68]:
celcius = [16, 20, 24, 30, 37, 40, 45]

fahrenheit = [((9/5)*t + 32) for t in celcius]
fahrenheit

[60.8, 68.0, 75.2, 86.0, 98.60000000000001, 104.0, 113.0]

In [71]:
my_list_v3 = []

for x in [1,2,3]:
    for y in [100,200,300]:
        my_list_v3.append(x*y)

my_list_v3

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [72]:
[x*y for x in [1,2,3] for y in [100,200,300]]

[100, 200, 300, 200, 400, 600, 300, 600, 900]