In [624]:
import re

In [625]:
re.search(r'cat|dog', 'just for test')

In [626]:
re.search(r'cat|dog', 'The cat is here')

In [627]:
re.search(r'cat|dog', 'The cat is here, but no dog') # only take the first

In [628]:
re.findall(r'cat|dog', 'The cat is here, with a dog')

['cat', 'dog']

In [629]:
re.findall(r'at', 'The cat in the hat sat like a bat')

['at', 'at', 'at', 'at']

In [630]:
re.findall(r'.at', 'The cat in the hat sat like a bat') # the . bring any charachter before target letters

['cat', 'hat', 'sat', 'bat']

In [631]:
re.findall(r'...at', 'The cat in the hat sat like a bat') # the . bring any charachter before target letters

['e cat', 'e hat', 'a bat']

In [632]:
re.findall(r'^\d', 'the 1 is a number') # the ^ mean start with

[]

In [633]:
re.findall(r'^\d', '1 is a number') # the ^ mean start with

['1']

In [634]:
re.findall(r'\d$', '123 is my number') # the $ mean end with

[]

In [635]:
re.findall(r'\d$', 'my number is 123') # the $ mean end with

['3']

In [636]:
text = 'the 3 numbers are 3,4,7 the last one equal sum of the first two.'

In [637]:
pattern = r'[^\d]' # the [^] mean exclude

In [638]:
re.findall(pattern, text)

['t',
 'h',
 'e',
 ' ',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 ',',
 ',',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'l',
 'a',
 's',
 't',
 ' ',
 'o',
 'n',
 'e',
 ' ',
 'e',
 'q',
 'u',
 'a',
 'l',
 ' ',
 's',
 'u',
 'm',
 ' ',
 'o',
 'f',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'f',
 'i',
 'r',
 's',
 't',
 ' ',
 't',
 'w',
 'o',
 '.']

In [639]:
pattern = r'[^\d]+' # the [^] mean exclude and the + mean one or more

In [640]:
re.findall(pattern, text)

['the ',
 ' numbers are ',
 ',',
 ',',
 ' the last one equal sum of the first two.']

In [641]:
text = 'This is starting!, But we have a punctuation, How can we remove it?'

In [642]:
pattern = r'[^!]' # exclude !

In [643]:
re.findall(pattern, text)

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 's',
 't',
 'a',
 'r',
 't',
 'i',
 'n',
 'g',
 ',',
 ' ',
 'B',
 'u',
 't',
 ' ',
 'w',
 'e',
 ' ',
 'h',
 'a',
 'v',
 'e',
 ' ',
 'a',
 ' ',
 'p',
 'u',
 'n',
 'c',
 't',
 'u',
 'a',
 't',
 'i',
 'o',
 'n',
 ',',
 ' ',
 'H',
 'o',
 'w',
 ' ',
 'c',
 'a',
 'n',
 ' ',
 'w',
 'e',
 ' ',
 'r',
 'e',
 'm',
 'o',
 'v',
 'e',
 ' ',
 'i',
 't',
 '?']

In [644]:
pattern = r'[^!.?]+' # exclude all ! and . and ?

In [645]:
re.findall(pattern, text)

['This is starting', ', But we have a punctuation, How can we remove it']

In [646]:
pattern = r'[^!.? ]+' # exclude all ! and . and ? and spaces

In [647]:
result = re.findall(pattern, text)

In [648]:
result

['This',
 'is',
 'starting',
 ',',
 'But',
 'we',
 'have',
 'a',
 'punctuation,',
 'How',
 'can',
 'we',
 'remove',
 'it']

In [649]:
' '.join(result)

'This is starting , But we have a punctuation, How can we remove it'

In [650]:
text = 'only find the hyphen-words in this sentence. But you do not know how long-ish they are.'

In [651]:
pattern = r'[\w]+-[\w]+' # the [] mean group by
pattern = r'\w+-\w+' # same result without group[]

In [652]:
re.findall(pattern, text)

['hyphen-words', 'long-ish']

In [653]:
text = 'would you like some catfish?'

In [654]:
pattern = r'cat(fish|nap|piller)'

In [655]:
re.findall(pattern, text)

['fish']