In [50]:
stock_prices_list = [('orange', 100), ('apple', 200), ('lemon', 600)]

In [51]:
stock_prices_list

[('orange', 100), ('apple', 200), ('lemon', 600)]

In [52]:
for name, price in stock_prices_list:
    print('Name is: '+name)
    print('Price is: '+ str(price))
    print('-----------')

Name is: orange
Price is: 100
-----------
Name is: apple
Price is: 200
-----------
Name is: lemon
Price is: 600
-----------

In [53]:
working_hours = [('khaled', 100), ('Allam', 400), ('Ahmed', 700)]

def EmployeeOfTheMonth(working_hours):
    current_max = 0
    the_best = ''

    for name, hours in working_hours:
        if current_max < hours:
            the_best = name
            current_max = hours
        else:
            pass
    
    return (the_best, current_max)

EmployeeOfTheMonth(working_hours)

('Ahmed', 700)

In [54]:
working_hours

[('khaled', 100), ('Allam', 400), ('Ahmed', 700)]

In [55]:
working_hours = [('khaled', 900), ('Allam', 400), ('Ahmed', 700)]
EmployeeOfTheMonth(working_hours)

('khaled', 900)