In [1]:
def square(n): return n**2

In [3]:
square(3)

9

In [4]:
sq = lambda n: n**2

In [5]:
sq(3)

9

In [6]:
sq(9)

81

In [8]:
list(map(lambda n: n**2, range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
list(filter(lambda n: n%2==0, range(1,11)))

[2, 4, 6, 8, 10]

In [12]:
list(map(lambda s: s[0].lower(), ['Khaled', 'Allam', 'Ahmed']))

['k', 'a', 'a']

In [13]:
list(map(lambda s: s[-1].lower(), ['Khaled', 'Allam', 'Ahmed']))

['d', 'm', 'd']

In [14]:
list(map(lambda s: s[:-1].lower(), ['Khaled', 'Allam', 'Ahmed']))

['khale', 'alla', 'ahme']

In [15]:
list(map(lambda s: s[1:].lower(), ['Khaled', 'Allam', 'Ahmed']))

['haled', 'llam', 'hmed']

In [16]:
list(map(lambda s: s[::-1].lower(), ['Khaled', 'Allam', 'Ahmed']))

['delahk', 'malla', 'demha']

In [22]:
list(map(lambda s: str(s).lower().replace('l','i').replace('a', 'i'), ['Khaled', 'Allam', 'Ahmed']))

['khiied', 'iiiim', 'ihmed']