Immutable strings

In [15]:
name = 'Khaled'

In [16]:
name

'Khaled'

In [17]:
name[0] = 'k'

TypeError: 'str' object does not support item assignment

In [ ]:
name = 'k' + name[1:]

In [ ]:
name

'khaled'

In [ ]:
name[::-1]

'delahk'

In [ ]:
name*10

'KhaledKhaledKhaledKhaledKhaledKhaledKhaledKhaledKhaledKhaled'

In [18]:
'2'+3

TypeError: can only concatenate str (not "int") to str

In [19]:
2+3

5

In [20]:
'2'+'3'

'23'

In [23]:
name.upper()

'KHALED'

In [26]:
name.split()

['Khaled']

In [27]:
name.lower()

'khaled'

In [28]:
text = 'Hello World'

In [29]:
text.split()

['Hello', 'World']

In [31]:
text.split('l')

['He', '', 'o Wor', 'd']